.form-control {  
	height: 20px;  
}

.btn { 
	padding: 1px 10px; 
	font-size: 11px;
}

.control-label{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0px;
}

.form-control{
	padding: 1px 1px;
}

¡£tbody > tr > td, .table tfoot > tr > td {
	padding: 2px 3px;
	line-height: 0.628571429;
	vertical-align: top;
	border-top: 1px solid #d1d2d4;
}

.panel {
	margin-bottom: 0px;
}

 
th {
text-align: center;
}   