<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.railway.com.portal.repository.mybatis.RunLineDao">

    <select id="findLineTimeTableByLineId" parameterType="string" resultType="map">
        SELECT * FROM (
        SELECT TLS.CHILD_INDEX AS STN_INDEX, TLS.NAME AS STN_NAME, TLS.BUREAU_NAME AS BUREAU,
        TLS.TRACK_NAME AS TRACK_NAME, '' AS ARR_TIME, TO_CHAR(TLS.TIME, 'yyyy-mm-dd hh24:mi') AS DPT_TIME
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_SITEM TLS
        WHERE TLS.PARENT_ID = #{lineId}
        UNION
        SELECT TLS.CHILD_INDEX AS STN_INDEX, TLS.NAME AS STN_NAME, TLS.BUREAU_NAME AS BUREAU,
        TLS.TRACK_NAME AS TRACK_NAME, TO_CHAR(TLS.SOURCE_TIME, 'yyyy-mm-dd hh24:mi') AS ARR_TIME,
        TO_CHAR(TLS.TARGET_TIME, 'yyyy-mm-dd hh24:mi') AS DPT_TIME
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_RITEM TLS
        WHERE TLS.PARENT_ID = #{lineId}
        UNION
        SELECT TLS.CHILD_INDEX AS STN_INDEX, TLS.NAME AS STN_NAME, TLS.BUREAU_NAME AS BUREAU,
        TLS.TRACK_NAME AS TRACK_NAME, TO_CHAR(TLS.TIME, 'yyyy-mm-dd hh24:mi') AS ARR_TIME, '' AS DPT_TIME
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_TITEM TLS
        WHERE TLS.PARENT_ID = #{lineId}
        ORDER BY STN_INDEX
        )
    </select>

    <select id="findLineInfoByLineId" parameterType="string" resultType="map">
        SELECT TL.NAME AS TRAIN_NAME, TL.SOURCE_BUREAU_NAME AS START_BUREAU, TL.TARGET_BUREAU_NAME AS END_BUREAU, TL.SOURCE_NODE_NAME AS START_STN,
        TL.TARGET_NODE_NAME AS END_STN, TO_CHAR(TL.SOURCE_TIME, 'yyyy-mm-dd hh24:mi') AS START_TIME, TO_CHAR(TL.TARGET_TIME, 'yyyy-mm-dd hh24:mi') AS END_TIME
        FROM JHPT_RJH.M_TRAINLINE TL WHERE TL.ID = #{lineId}
    </select>

    <select id="findUnknownRunLine" parameterType="map" resultType="map">
        SELECT COUNT(DISTINCT TL.ID) AS NUM
        FROM JHPT_RJH.M_TRAINLINE TL WHERE  TL.SOURCE_BUREAU_SHORTNAME = #{bureau}
        AND (TL.SOURCE_TIME > #{startDate} AND TL.SOURCE_TIME &lt;= #{endDate})
        AND NOT EXISTS (SELECT PT.PLAN_TRAIN_ID FROM PLAN_TRAIN PT WHERE TL.ID = PT.DAILYPLAN_ID)
    </select>
</mapper> 
