<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="schemeDao"> 
   <select id="getSchemeInfo" parameterType="map" resultType="org.railway.com.portal.entity.SchemeInfo">
        select t.id as schemeId, t.name as schemeName from jhpt_rjh.m_templatescheme t order by t.publish_time desc
   </select> 
</mapper>